body {
    color: #EEE5E9;
    background-color: #2D3047;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex-direction: column;
    position:relative;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
}

#text {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit {
    margin-top: 8vh;
}

.textbox {
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    margin-top: 10vh;
    border: #EEE5E9;
    border-style: solid;
}

.main {
    flex: 1 0 auto;
}

.heart {
    color: #e25555;
}

.footer {
    bottom: 0;
    left: 0;
    margin-top: 16vh;
    color: #CEEAF7;
}

a:link {
    color: #FFA5AB;
}

a:visited {
    color: #F3B3A6;
}