<div class="main">
    <h1>The next idea for your startup</h1>
</div>
<div class="textbox">
        <div id="text">
                <h2 id="first" class="under"></h2>
                <h2 id= "center"></h2>
                <h2 id="second" class="under"></h2>
        </div>
            
</div>
<div class="submit">
    <a class="waves-effect waves-light btn-large" onclick="generate()">Generate</a>
</div>

