<html>
<head>
  <title>Tech Startup Idea Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
  <%= content %>
<div class="footer">
  Coded with <span class="heart">&#9829;</span> by <a href="https://github.com/aa-tan">atan</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
